.container {
}

.wrapContent {
  padding-top: 100px;
  padding-left: 254px;
}

.questionList {
  width: 700px;
  margin: 0 auto;
}
.question {
  margin: 25px 0 25px 0;
}

.wrapButton {
  text-align: right;
}
