.fileButton {
  width: 580px;
  height: 45px;
  margin: 5px 0 5px 0;
  border-radius: 3px;
  background-color: rgb(248, 249, 250);
  border: 0;
  text-align: left;
  border: 1px solid #d6d6d6;
  padding-left: 10px;
}

button:hover {
  transition: all 0.3s;
  background-color: rgba(214, 214, 214, 0.5);
  cursor: pointer;
}

.fileList {
  max-height: 500px;
  width: 600px;
  overflow-y: scroll;
}
