.container {
  width: 700px;
  margin: 0 auto;
}

.wrapButton {
  display: flex;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  text-align: right;
  margin: 30px 0 30px 0;
  height: 56px;
}
