.userContainer {
  width: 700px;
  background-color: white;
  border-radius: 10px;
  min-height: 100px;
  border: 1px solid #d6d6d6;
  border-top: 10px solid #119fb3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.userTitle {
  padding: 16px 0 16px 30px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #d6d6d6;
}

.userList {
  width: 650px;
  margin: 0 auto;
  min-height: 80px;
  margin-top: 10px;
  overflow-y: scroll;
  margin-bottom: 10px;
  max-height: 400px;
}

.userButton {
  width: 630px;
  height: 45px;
  margin: 5px 0 5px 0;
  border-radius: 3px;
  background-color: rgb(248, 249, 250);
  border: 0;
  text-align: left;
  border: 1px solid #d6d6d6;
  padding-left: 10px;
}

button:hover {
  transition: all 0.3s;
  background-color: rgba(214, 214, 214, 0.5);
  cursor: pointer;
}
