.question {
  width: 85%;
  background-color: white;
  border-radius: 10px;
  /* min-height: 120px; */
  border: 1px solid #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-bottom: 10px;
}

.questionRed {
  width: 85%;
  background-color: white;
  border-radius: 10px;
  min-height: 120px;
  border: 1px solid red;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-bottom: 10px;
}

.title {
  margin-top: 17px;
  padding-left: 25px;
  margin-bottom: 10px;
}

.option {
  width: 90%;
  /* min-height: 50px; */
  margin: 0 auto;
}
