.adminProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}

.profileInfo {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding: 10px 5px;
}

.profileDetail {
  margin-left: 10px;
  margin-top: 5px;
}

.profileRadius {
  border-radius: 45px;
}

.profileName {
  font-weight: bold;
  font-size: 14px;
  display: block;
}

.profileEmail {
  font-size: 10px;
  margin-top: 5px;
  color: #6b778c;
}

.profileState {
  font-size: 14px;
  color: #6b778c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}
.ownerBox {
  font-size: 14px;
  color: #6b778c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  /* margin-right: 17px; */
}
.closeBtn {
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
}

/* event */
.adminProfile:hover {
  background-color: rgba(55, 53, 47, 0.08);
}
