.contactWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  padding: 10px 5px 10px 5px;
}

.contactText {
  font-size: 16px;
  display: block;
  color: #37352f;

  /* color: #6b778c; */
  font-weight: 500;

  padding-top: 5px;
  padding-left: 3px;
}

.profileInfo {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding: 10px 5px;
}

.profileDetail {
  margin-left: 10px;
  margin-top: 5px;
}

.profileRadius {
  border-radius: 45px;
}

/* event */
.contactWrap:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.closeBtn {
  font-weight: bold;
  font-size: 20px;
}
