#Item {
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  margin: 1px 0px;
  width: 230px;
  box-sizing: border-box;
  justify-content: space-between;
}

.textFont {
  width: 135px;
  height: 48px;
  font-size: 15px;
  font-weight: 500px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.labelBox {
  background-color: #f2f9ff;
  /* color: #007ae5; */
  color: #007ae5;
  font-weight: bold;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 6px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* event */
.workspaces:hover {
  background-color: #deebff;
  transition: all ease 0.2s 0s;
  color: #0052cc;
}

.active {
  background-color: #deebff;
  color: #0052cc;
}
