#mainFooter {
  margin-top: 75px;
  padding-bottom: 10px;
}

.logo {
  width: 200px;
  cursor: pointer;
  align-items: center;
}

.footerLogoWrap ul li a {
  cursor: pointer;
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width: 1024px) and (max-width: 1279px) {
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  #mainFooter {
    font-size: 12px;
  }
}
