.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.ModalWrap {
  box-sizing: border-box;
  width: 700px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.1) -2px 4px 10px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 12;
  overflow: hidden;
}

/* modalHeader */
.modalHeader {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 15px 20px 0px 10px;
  justify-content: space-between;
}
.modalExitBtn {
  margin-bottom: 5px;
}

.modalBody {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow: auto;
  padding: 10px 20px;
  overflow-x: hidden;
}

.surveyNameBox {
  box-sizing: border-box;
  width: 660px;
  height: 28px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: 5px;
  outline: none;
  margin-right: 10px;
  margin-top: 10px;
}

.contactBox {
  display: flex;
  justify-content: space-between;
}

.itemBox {
  width: 325px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.listBoxHeader {
  width: calc(100% - 10px);
  height: 10px;
  padding: 15px 5px;
  border-bottom: 1px solid #eee;
}

/*  */
.listBoxHeader ul {
  display: flex;
  justify-content: space-evenly;
}

.listBox {
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 10px;
  max-height: 600px;
  border: 1px solid #eee;
}
.listBoxBody {
  height: 380px;
  padding: 3px 15px 3px 5px;
  padding-right: 15px;
  margin-bottom: 10px;
  overflow: auto;
  overflow-x: hidden;
}
.button {
  box-sizing: border-box;
  background-color: #2383e2;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 0 14.5px;
  height: 28px;
  transition: background-color 20ms ease-in 0s;
  border-radius: 4px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.rightContainer {
  display: flex;
  width: 100%;
}
.right {
  margin-left: auto;
}

/* scroll */
.listBoxBody::-webkit-scrollbar {
  width: 5px;
}

.listBoxBody::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 30px;
  /* width: 5px; */
}

.listBoxBody::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}
