.contactWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px 10px 3px;

  border: 1px solid #dddddd;
  margin: 5px 0;
  cursor: pointer;
}

.contactText {
  font-size: 16px;
  display: block;
  color: #37352f;

  /* color: #6b778c; */
  font-weight: 500;

  padding-top: 4px;
  padding-left: 3px;
}

.profileInfo {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding: 10px 5px;
}

.profileDetail {
  margin-left: 10px;
  margin-top: 5px;
}

.profileRadius {
  border-radius: 45px;
}

.fontResponse {
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;

  display: inline-block;
  width: 40px;
  text-align: center;
}

.fontNoResponse {
  font-size: 12px;
  color: gray;
  margin-right: 5px;

  display: inline-block;
  width: 40px;
  text-align: center;
}

/* event */
.contactWrap:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.closeBtn {
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
}
