.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 24;
  min-width: 400px;
  min-height: 180px;
  border-radius: 20px;
}

.header {
  width: 100%;
  background-color: #0171d1;
  height: 45px;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.title {
  line-height: 50px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.close {
  line-height: 45px;
  margin-right: 15px;
  font-size: 20px;
}

.content {
  padding: 20px;
}


/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px) { 
} 
  
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
} 
  
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
    
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    .container{
      width: 90%;
    }
}

@media all and (max-width:1200px) { 
    

} 