body{
    /* background-color: #EBEDF5; */
    /* background-color: #F6F8FF; */
}

b{
    font-weight: bold !important;
}

.textCenter{
    text-align: center;
}

.textBold{
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

.title{
    font-size: 32px;
    padding: 60px 0px 20px 0px;
}

.subTitle{
    padding-bottom: 60px;
    font-size: 18px;
}

#menuIcon{
    display: none;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding : 0 !important;
}
/* 설문 카드 그림자 효과 */
.css-tvw7vc-MuiPaper-root-MuiCard-root{
    /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 30px 0px rgba(0,0,0,0.12) !important; */
    /* box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 30px 0px rgba(0,0,0,0.12) !important; */
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px) { 
} 
  
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:801px) and (max-width:1023px) { 
} 
  
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:800px) {
    #menuIcon{
        display: block;
    }
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    #menuIcon{
        display: block;
    }
}

@media all and (max-width:1200px) { 
    .container{
        width: 90%;
    }
    .title{
        font-size: 26px;
    }
} 
