#mainHeader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top:0px;
    left:0px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    
}

#headerItemWrap{
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    padding: 10px 0px;
    width: 180px;
    height: 100%;
    cursor: pointer;
}

.headerMenu ul{
    display: flex;
    align-items: center;
}

.headerMenu ul li{
    padding: 20px 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.hheaderMenu ul li:last-child{
    padding-right: 0px;
    cursor: pointer;
}

#menuIcon{
    cursor: pointer;
}

.back{
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}   

.mobileMenuItemWrap{
    background-color: #fff;
    position: fixed;
    left: -290px;
    top:0px;
    width: 250px;
    height: 100%;
    padding: 20px;

}

.slideIn {
    transition: transform 0.3s ease-in-out; 
    transform: translateX(290px);
  }
  
.slideOut {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}
.mobileMenuItemWrap ul{
    margin-top: 20px;
}

.mobileMenuItemWrap ul li{
    padding-bottom: 30px;
}

.photo{
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.photo img{
    width:30px;
    height:100%;
    object-fit:cover;
}

.mobileLoginWrap{
    margin: 0 auto;
    margin-top: 15px;
    
}

.mobileLoginBtnWrap{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(234, 237, 239);;
    margin-bottom: 10px;
}

.mobileLoginBtnWrap2{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(234, 237, 239);;
    margin-bottom: 10px;
}

.mobildLoginNickname{
    margin-top: 20px;
    line-height: 30px;
    margin-left: 10px;
    font-size: 14px;
}

.mobileMenuItemWrap ul{
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
}

.mobileLoginBtnWrap a{
    width: 48%;
    text-align: center;
    padding: 13px 0px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 14px;
}
.mobileLoginBtnWrap a:nth-child(1){
    border: 1px solid #119FB3;
    color: #119FB3;
}
.mobileLoginBtnWrap a:nth-child(2){
    background-color: #119FB3;
    border: 1px solid #119FB3;
    color: #fff;
}



/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px) { 
} 
  
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:801px) and (max-width:1023px) { 
} 
  
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:800px) {
    .headerMenu ul li{
        display: none;
    }
    #headerItemWrap{
        padding: 0px 15px;
    }
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    .headerMenu ul li{
        display: none;
    }
    #headerItemWrap{
        padding: 0px 15px;
    }
    .logo{
        width: 180px;
    }
    .photo{
        display: block;
        margin-top: 20px;
    }
}




