.back{
    width: 100%;
    height: 100%;
    position: absolute;
    top:-80px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
}

.mypageHeader{
    width: 370px;
    height: 100vh;
    margin-top: -54px;
    background-color: #fff;
    box-shadow: 5px 1px 8px 0 rgba(0,0,0,.06);
    border-left: 1px solid rgba(0,0,0,.08);
    padding: 20px ;
    z-index: 9999;
}

.mypageUser{
    margin-top: 50px;
    text-align: center;
}

.logo{
    width: 180px;
}

.profil .photo{
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.photo img{
    width:150px;
    height:100%;
    object-fit:cover;
}

.profil .nickname{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.profil .email{
    font-size: 14px;
    margin-top: 10px;
    color: #a9a9a9;
}
.profilePenWrap{
    width: 150px;
    margin: 0 auto;
    text-align: right;
}

.profilePen{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 34px;
    background-color: #0171D1;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #fff;
    font-size: 12px;
    border: 2px solid #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.mypageMenu{
    margin-top: 40px;
    padding: 40px 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.mypageMenu ul li{
    font-size: 20px;
    padding: 16px 0px;
    cursor: pointer;
}

.active{
    font-weight: bold;
}

.active span{
    border-bottom: 2px solid #111;
}

.mypageLogout{
    padding: 20px 30px;
    color: #a9a9a9;
    cursor: pointer;
}

.mypageUserMobile{
    display: none;
}


/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px) { 
} 
  
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
} 
  
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
    
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    .mypageUserMobile{
        display: block;
    }

    .mypageHeader{
        display: none;
    }

    .mypageUser{
        margin-bottom: 30px;
        margin-top: 80px;
    }

    .mypageWrapMobile{
        display: block !important;
    }
    
    .mypageMenuWrapMobile {
        width: 100%;
        overflow-x: auto; /* 가로 스크롤을 활성화합니다. */
        white-space: nowrap; /* 줄 바꿈을 방지합니다. */
        position: absolute;
        top: 50px;
        left: 0px;
      }

      .mypageMenuWrapMobile::-webkit-scrollbar{
        display:none;
      }
      
      /* 메뉴 아이템에 대한 스타일 */
      .mypageMenuMobile {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        overflow-x: auto; /* 가로 스크롤을 활성화합니다. */
      }
      
      .mypageMenuMobile li {
        text-align: center;
        padding: 10px 7px;
        border-right: 1px solid #d5d5d5; /* 예시로 테두리 추가 */
        border-bottom: 1px solid #d5d5d5; /* 예시로 테두리 추가 */
        border-top: 1px solid #d5d5d5;
        min-width: 120px; /* 메뉴 너비를 지정하세요. */
        font-size: 14px;
        background-color: #f8f8f8;
      }

      .logoWrapMobile{
        position: absolute;
        top:12px;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 50px;
      }
}

@media all and (max-width:1200px) { 

} 